<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/header.ejs %>
	<div class="brand-statement"> 
	Studying and teaching chess for the past two decades has honed my ability solve abstract problems and communicate those solutions clearly. I have wide ranging interests  from math to poetry and my ability to teach myself coupled with my intellectual curiosity has led me to strive to always be learning. I am excited to forge relationships based on exchanging knowledge and continuing to challenge myself in my new career.
	</div>
	<% include partials/footer.ejs %>
</body>
</html>