<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/header.ejs %>
	<div class=contact>
	<h1>GET IN TOUCH</h1>
		<a href="https://github.com/Jon-zachary">Github</a>
		<a href="https://www.linkedin.com/in/jon-zachary">Linkedin</a>
		<a href="https://profiles.generalassemb.ly/profiles/7184/in-review">GA</a>
	</div>
	<% include partials/scripts.ejs %>
</body>
</html>