<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/header.ejs %>
	<div class="contact">
	<h1 class="contact-header">GET IN TOUCH</h1>
		<!-- <a href="https://github.com/Jon-zachary">Github</a>
		<a href="https://www.linkedin.com/in/jon-zachary">Linkedin</a>
		<a href="https://profiles.generalassemb.ly/profiles/7184/in-review">GA</a> -->
	</div>
  	<div class="row">
    <form class="contact-form" action="/contact/sendMail" method="post">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" name="name">
          <label for="icon_prefix">Name</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="icon_prefix" type="email" name="email">
        <label for="icon_prefix">Email</label>
      </div>
  </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">edit_mode</i>
          <textarea id="textarea1" type="textarea" class="materialize-textarea" name="message"></textarea>
          <label for="textarea1">Message</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </form>
  </div>
	<% include partials/scripts.ejs %>
	<script>$(".button-collapse").sideNav();</script>
</body>
</html>