<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/header.ejs %>
	<h1>BookNote</h1>
	<h2>The note taking app of the future with an eye on the past</h2>
	<a href="https://github.com/Jon-zachary/BookNote">See it here!</a>
	<% include partials/footer.ejs %>
</body>
</html>