$blue-note: rgb(47, 86, 129);
$name-font: 'Stint Ultra Expanded', cursive;
$text-font: 'PT Sans', sans-serif;
nav {
  background-color: $blue-note !important;
  font-family: $name-font !important;
  height: 100px !important ;
  line-height: 100px !important;
}

body {
  background: url(/images/background1.png); 
  text-align: center;
}

.main {
  opacity: .9
}

.spiel{
  font-family: $text-font !important;
  display: inline-block;
  margin-bottom: 20px;
} 

.side-nav{
  background-color: $blue-note !important;
}