
$blue-note: rgb(47, 86, 129);
$lighter-blue-note: #4E739A;
$name-font: 'Stint Ultra Expanded', cursive;
$text-font: 'PT Sans', sans-serif;
$important-white: white !important;


nav {
  background-color: $blue-note !important;
  font-family: $name-font !important;
  height: 100px !important ;
  line-height: 100px !important;
}

body {
  background: url(/images/background1.png); 
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
}

 
img.book.circle {
  height:50vw;
  border-radius:100px;
}

a.brand-logo.center{
  font-size: 60px;
}
.main {
  opacity: .9
}

.spiel{
  animation: about-fade-in 3s ;
  font-family: $text-font !important;
  display: inline-block;
  margin-bottom: 20px;
} 

.spiel-container{
  background-color: $blue-note;
  border-radius: 10px;
}

.side-nav{
  background-color: $blue-note !important;
}

.welcome{
  color: $blue-note;
}

.contact-header{
  background-color: $lighter-blue-note;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}


div.row {
 width: 425px;
}

form.contact-form {
  color: white !important;
  text-align: center;
  border-radius: 5px;
  margin-left: .4%;
  background-color: $lighter-blue-note;
}


   

@media only screen and (max-width: 500px) {
    body {
        background-size: 200vw;
    }
    a.brand-logo.center{
        font-size: 40px;
  }
}